@import '~antd/dist/antd.css';

*{
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  box-sizing: border-box;
}
body{
  background-color: rgb(245,243,244);

}

a{
  color:gray;
}

.profile {
  width:10rem;
  height:10rem;
  border-radius: 50%;
  margin:1rem auto;
  background: #1088e9;
}

.ant-menu{
  background-color: rgb(245,243,244);
}
.leftNav .ant-menu .ant-menu-item {
  text-align: center;
  font-size:1.1rem;
  color:black;
}

.rightDisplay{
  padding:3rem;
  font-size: 0.7rem;
}


.contactIcon{
  text-align: center;
}

.contactIcon>*{
  color:royalblue;
  font-size: 2rem;
  cursor:pointer;
  transition: all .2s ease-in;
}


.contactIcon a>*:hover{
  transform:scale(1.2);
}


.anticon-facebook{
  margin:2rem 1rem;
}

.leftNav p{
  text-align: center;
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-center::after
{
   border-top: 1px solid #c9bcbb;
}

