@import '~antd/dist/antd.css';

.name {
    text-align: center;
    font-weight: 700;
}

.intro h1 {
    font-size: 1.6rem;
    font-weight: 700;
    color:#1e90ff;
}
.intro p{
    font-size: 0.9rem;
    color:black;
}

.projectItem{
    position:relative;
    width:22rem;
    height:26rem;
    margin:2rem;
    border-radius:0.6rem 0.6rem 0.4rem 0.4rem ;
    border:1px solid #ccc;
    box-shadow:0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    transition: all 0.5s ease-in;
    cursor:pointer;
}

.projectItem:hover{
    background-color:rgba(0,0,0,0.1);
}

.projectItem img{
    width:100%;
    border-radius:0.6rem 0.6rem 0 0;
}

.projectItem h1{
    margin:0;
    padding-left:0.7rem;
    padding-top:0.4rem;
    font-size: 1.3rem;
}

.projectItem p{
    padding:1rem;
    padding-top:0.3rem!important;
    font-size: 0.9rem;
}

/* .learnMore{
    position:absolute;
    bottom:0.4rem;
    left:50%;
    padding:0.2rem;
    transform: translateX(-50%);
    font-size: 1.1rem!important;
    color:black;
    text-align: center;
    cursor:pointer;
    transition: all 0.5s ease-in;
} */

/* .learnMore:hover{
    color:#1088e9;
} */

.backTop {
  height: 40;
  width: 40;
  line-height: 40px;
  border-radius: .3rem;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 14;
}

.blogItem{
    overflow:hidden;
    width:99%;
    height:18rem;
    padding:0.4rem 0.4rem 0.2rem 0.4rem;
    /* margin:1.5rem; */
    margin:1rem 0;
    background-color: rgba(255,255,255,0);
    border-radius: 0.3rem;
    cursor:pointer;
    transition: all 0.5s!important;
}

.moreBlogs{
    position:absolute;
    top:1rem;
    font-size:16px;
    font-weight:700;
}

.moreBlogs a{
    color:#1e90ff;
}


.blogItem:hover {
    background-color: rgba(124, 117, 117, 0.1);
}

.blogItem .blogtitle{
    padding: 0 0.5rem;
    color:#1e90ff;
    font-size: 1.4rem;
    font-weight: 600;
}

.blogItem .blogIntro {
    overflow:hidden;
    padding:.6rem; 
    padding-top:0.2rem;
    font-size: 16px;
    color:#777;
}

.blogItem .blogImg{
    width:100%;
    border-radius:0.3rem;
}

.date {
    margin-left: 0.5rem;
    font-size:16px;
}

.skillSection{
    padding:0 3rem;
}

.skillItem{
    width:100%;
    padding:0 3rem;
}


.language,
.tool{
    font-weight: 700;
}

.skillItem .skillName {
    display:inline-block;
    width:5rem;
    font-size:0.9rem;
}

.skillSection .skillImg{
    overflow:hidden;
    position:absolute;
    bottom:4rem;
    left:6rem;
    width:20rem;
    border-radius:0.3rem;
}

@media screen and (max-width:1024px){
    .skillSection .skillImg img{
        display:none;
    }
}

.skillSection .skillImg img{
    width:100%;
}


.education,
.experience{
    padding:1rem 3rem;
}

.education p{
    font-size:0.9rem;
}

.experience .projectDate{
    font-size:0.8rem;
}

.experience .projectDesc{
    font-size:0.8rem;
}

.education .timelineTitle,
.experience .timelineTitle{
    font-size:1.2rem;
}

.school{
    font-weight: 700;
}

.education ol{
    margin-bottom:0.5rem;
}